# dependencies
node_modules/
.pnp
.pnp.js

# turbo
.turbo

# next
.next/
out/

# production
build/
dist/

# misc
.DS_Store
*.pem
.vscode/
.idea/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# local env
.env
.env*.local
.env.development
.env.production
.env.test

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# coverage
coverage/

# logs
logs/
*.log

# stray
Lumenary Strategy Center

# secrets (DO NOT REMOVE)
api-key.rtf
*.rtf
.env
.env.*
